#!/bin/sh

# This is your start script.
# This should contain the same set of commands that you would use every time you deploy the app to production.

# You are in /code inside the container

cd app || exit
npm start
